.wrap-contact {
  width: 400px;
  border-radius: var(--main-border-radius);
  padding: 1.2rem;
  margin: 1.5rem;
}

.wrap-contact h2 {
  margin-bottom: 20px;
}

/*------------------------------------------------------------------
  [ Input ]*/

.wrap-input {
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  padding-top: 40px;

  text-align: left;
  overflow: hidden;
}

.input,
.input-textfield {
  width: 100%;
  height: 100%;
  padding-bottom: 8px;
  color: rgb(255, 255, 255);
  border: none;
  background-color: transparent;
  outline: none;
  padding-left: 8px;
}

.input-textfield {
  border: 1px solid white;
  min-height: 162px;
  max-height: 500px;
  max-width: 100%;
  min-width: 100%;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: 8px;
}

.label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid white;
}

.label-input-textfield {
  color: white;
}

.label::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid rgb(80, 82, 209);
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.label-input {
  position: absolute;
  bottom: 5px;
  font-size: 1rem;
  color: white;
  left: 0;
  transition: all 0.3s ease;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(255, 255, 255);
  transition: background-color 5000s ease-in-out 0s;
}

.input:focus + .label .label-input,
.input:valid + .label .label-input {
  transform: translateY(-90%);
}

.input:focus + .label::after,
.input:valid + .label::after {
  transform: translateX(0%);
}

.input-textfield:focus {
  border: 3px solid rgb(80, 82, 209);
  transition: border 0.3s ease;
}
